body {
    background-color: rgb(59, 59, 59);
    color: white;
}

header {
    text-align: center;
}

section {
    text-align: center;
    padding: 50px;
    background-color: white;
    width: 500px;
    color: black;
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

footer {
    text-align: footer;
    margin-top: 250px;
    text-align: center;
}

img {
    margin-top: 20px;
}
